
body {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

header,
footer {
  background-color: #1F2937;
  
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0 300px 160px 300px;
  gap: 120px;
}

h1,
h2 {
  font-weight: 800;
}

h1 {
  font-size: 48px;
  line-height: 60px;
  margin-bottom: -20px;

  
}


button {
  background-color: #3882F6;
  border: 0;
  border-radius: 5px;
  width: 150px;
  height: 40px;
}



ul {
  margin: 27px 0;
  list-style-type: none;
  display: flex;
  gap: 18px;
}

a {
  text-decoration: none;
  color: #E5E7EB;
}

a:visited {
  color: #a8a9ac;
}

h1,
.logo {
  color: #F9FAF8;
}

h2,
.texto {
  color: #1F2937;
  font-size: 36px;
}

nav,
button,
.container1 p
{
  font-size: 18px;
  color: #E5E7EB;
}

.container1 {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.container1 p {
  line-height: 30px;
}

.container1 button {
  margin-top: 30px;
}

.barra-superior {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.container1 div {
  max-width: 700px;
  min-height: 333px;
  height: 333px;
  overflow: auto;
}


.relato {
  background-color: #E5E7EB;
}

.logo {
  margin: 24px 0;
  font-size: 24px;
  font-weight: bold;
}

.texto {
  font-weight: 300;
  font-style: italic;
}

.header-image {
  height: 333px;
  width: auto;
  border: solid #2f4b6e 4px;
}

.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container3 {
  display: flex;
  justify-content: center;
  gap: 60px;
  
}

.info img {
  height: auto;
  width: 200px;
  margin-bottom: 8px;
  border: solid #3882F6 4px;
  border-radius: 18px;

}

.descricao {
  max-width: 200px;
  text-align: center;
  color: #56575c;
}
